<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd"
	default-lazy-init="false">

	<!-- 数据源配置,使用应用内的DBCP数据库连接池 -->
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
		lazy-init="false">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="maxIdle" value="${dbcp.maxIdle}" />
		<property name="maxActive" value="${dbcp.maxActive}" />
		<property name="defaultAutoCommit" value="false" />
		<property name="timeBetweenEvictionRunsMillis" value="3600000" />
		<property name="minEvictableIdleTimeMillis" value="3600000" />
	</bean>
	
	<!-- hibernate -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!--	属性 表字段转换策略	-->
		<property name="namingStrategy">
			<bean class="com.superflying.cn.driver.hibernate.PersonalNamingStrategy"/>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					${hibernate.dialect}
				</prop>
				<prop key="hibernate.show_sql">
					${hibernate.show_sql}
				</prop>
				<prop key="hibernate.format_sql">
					${hibernate.format_sql}
				</prop>
				<prop key="hibernate.default_schema">
					${hibernate.default_schema}
				</prop>
<!--				<prop key="hibernate.cache.region.factory_class">-->
<!--					org.hibernate.cache.ehcache.EhCacheRegionFactory-->
<!--				</prop>-->
<!--				<prop key="net.sf.ehcache.configurationResourceName">-->
<!--					ehcache/ehcache-hibernate-local.xml-->
<!--				</prop>-->
<!--				<prop key="hibernate.cache.use_second_level_cache">-->
<!--					true-->
<!--				</prop>-->
			</props>
		</property>
		<property name="packagesToScan" value="com.superflying" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- 使用annotation定义事务 proxy-target-class="false" or "true" 都开启代理模式 -->
	<!--	不添加此句则不开启代理	-->
	<!--	wuxiaoxu spring在实例化过程中 1.先实例化service 对象，2.在发现@Transactional时重新创建 代理 纳闷 为啥不避免第一次呢-->
	
	<!--基于JDK动态代理-->
<!--	<tx:annotation-driven transaction-manager="txManager"/>-->
	<!-- 基于CGLIB类代理-->
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />

</beans>